@media screen and (max-width: 1080px) {
    .tels span {
        font-weight: 500;
        font-size: 18px;
    }
}

@media screen and (max-width: 980px) {
    .tels span {
        font-weight: 500;
        font-size: 18px;
    }

    .header {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-container {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .top-header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .slogan {
        font-size: 11px;
    }

    .tels span,
    .details span {
        text-align: center;
    }

    .bottom-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-box {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .search-box .field {
        width: 100%;
    }

    .search-box .divider {
        display: none;
    }

    .search-btn {
        width: 100%;
    }

    .socials {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .social-link {
        margin: 0 5px;
    }

    .details {
        flex-direction: row;
    }

    .details span:first-child {
        margin-right: 25px;
    }

    .nav {
        background: #181818;
        border-radius: 10px;
        padding: 30px 0 30px 34px;
        margin-right: 16px;
        margin-left: 16px;
    }

    .menu {
        flex-direction: column;
    }

    .menu-item a {
        color: #fff;
    }

    .menu-item:last-child {
        margin-left: 0;
    }

    .contact-cards {
        flex-direction: column;
    }

    .content-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 760px) {
    .footer-top {
        flex-direction: column;
    }

    .legal-info {
        margin-bottom: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .policy-links {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .policy-links:first-child a {
        margin-right: 0;
        margin-bottom: 25px;
    }
}