*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 15px;
    color: #181818;
    background: #fff;
    line-height: 1.3;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: flex;
    margin-top: 46px;
    flex-wrap: wrap;
}

.real-header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.logo-container {
    margin-right: 32px;
}

.logo-container img {
    display: block;
    max-width: 100%;
}

.top-header {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.slogan {
    max-width: 308px;
    font-weight: 400;
    font-size: 12px;
    color: #181818;
    margin: 0 43px 0 0;
}

.tels {
    display: flex;
}

.tels span {
    font-weight: 500;
    font-size: 26px;
}

.tels span:first-child::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 18px;
    background: #a4a4a4;
    margin-left: 17px;
    margin-right: 17px;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-start;
}

.details span {
    font-size: 12px;
}

.details span:first-child::before {
    content: '';
    display: inline-block;
    background: url(../images/date.png) no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.details span:last-child::before {
    content: '';
    display: inline-block;
    background: url(../images/mail.png) no-repeat;
    width: 12px;
    height: 12px;
    margin-right: 10px;
}

.bottom-header {
    display: flex;
    align-items: center;
}

.form-block {
    max-width: 516px;
    width: 100%;
}

.search-box {
    position: relative;
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
}

.field {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 18px;
}

.search-btn {
    position: absolute;
    top: 13px;
    right: 20px;
    cursor: pointer;
    background: url(../images/search-btn.png) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    border: none;
}

.divider {
    position: absolute;
    top: 10px;
    right: 45px;
    width: 1px;
    height: 18px;
    background: #a4a4a4;
}

.socials {
    display: flex;
    margin-left: 117px;
}

.social-link {
    display: flex;
    margin-right: 20px;
}

.socials .social-link:last-child {
    margin-right: 0;
}

.social-link::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../images/socials.png) no-repeat;
    background-size: 112px 24px;
}

.wa::before {
    background-position: 0 0;
}

.tg::before {
    background-position: -44px 0;
}

.geo::before {
    background-position: -88px 0;
}

.nav {
    background: #f7f7f7;
    margin-top: 35px;
    padding: 13px 0;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-item {
    list-style: none;
    margin-right: 40px;
}

.menu-item:last-child {
    margin-right: 0;
    margin-left: auto;
}

.menu-link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
}

.menu-link:hover,
.menu-item:nth-child(4) a {
    color: #c00;
}

.breadcrumbs {
    display: flex;
    margin-top: 59px;
    margin-bottom: 33px;
    align-items: center;
}

.breadcrumbs ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li:first-child::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 6px;
    background: url(../images/arrow.png) no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.breadcrumbs ul li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #a4a4a4;
}

.breadcrumbs ul li span {
    font-weight: 400;
    font-size: 12px;
    color: #c00;
}

.title {
    font-weight: 700;
    font-size: 50px;
    line-height: 108%;
}

.contact-cards {
    display: flex;
    gap: 30px;
}

.black-card {
    display: flex;
    flex-direction: column;
    padding: 30px 89px 30px 40px;
    background: #181818;
    border-radius: 10px;
}

.phone {
    font-weight: 500;
    font-size: 26px;
    color: #fff;
}

.phone1 {
    margin-bottom: 20px;
}

.black-card span::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
}

.phone1::before {
    background: url(../images/phone-icon.png) no-repeat;
}

.phone2::before {
    background: url(../images/tel-icon.png) no-repeat;
}

.email {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin: 40px 0;
}

.email::before {
    background: url(../images/mail-icon.png) no-repeat;
}

.working-time {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

.working-time::before {
    background: url(../images/time-icon.png) no-repeat;
}

.all-social-links {
    display: flex;
    margin-top: 40px;
}

.social {
    display: flex;
    margin-right: 20px;
}

.social::before {
    content: '';
    width: 24px;
    height: 24px;
    background: url(../images/socials-contact.png) no-repeat;
    background-size: 156px 24px;
}

.wa::before {
    background-position: 0 0;
}

.tg::before {
    background-position: -44px 0;
}

.viber::before {
    background-position: -88px 0;
}

.vk::before {
    background-position: -132px 0;
}

.map-wrapper img {
    width: 100%;
}

.phone-input {
    align-self: stretch;
    border-radius: 4px;
    border: 2px solid #a4a4a4;
    min-height: 38px;
    color: #a4a4a4;
    font-weight: 500;
    padding: 11px 12px;
    width: 100%;
}

.car-directions {
    margin-top: 80px;
}

.content-wrapper {
    gap: 20px;
    display: flex;
    margin-bottom: 110px;
}

.form-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 62%;
    max-width: 570px;
    margin-left: 0;
}

.section-title {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}

.description {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-field {
    align-self: stretch;
    border-radius: 4px;
    border: 2px solid #a4a4a4;
    color: #a4a4a4;
    font-weight: 500;
    padding: 11px 12px;
    width: 100%;
}

.car-details {
    display: flex;
    margin-top: 20px;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
}

.car-type {
    width: 55%;
}

.car-plates {
    width: 50%;
}

.form-actions {
    display: flex;
    margin-top: 20px;
    max-width: 100%;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

.phone-box {
    width: 55%;
}

.submit-button {
    align-self: stretch;
    border-radius: 4px;
    background: #c00;
    min-height: 38px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 11px 24px;
    border: none;
    cursor: pointer;
    width: 50%;
}

.car-details,
.car-plates,
.form-actions,
.name {
    max-width: 470px;
}

.map-column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 38%;
    margin-left: 30px;
    max-width: 350px;
    max-height: 262px;
}

.footer {
    background: #f7f7f7;
    padding-top: 46px;
    padding-bottom: 45px;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    margin-bottom: 54px;
}

.legal-info,
.security-info {
    font-size: 12px;
    color: #a4a4a4;
}

.legal-info {
    margin-right: 45px;
}

.link-text {
    text-decoration: none;
    color: #181818;
}

.footer-bottom {
    display: flex;
    align-items: center;
}

.policy-links {
    margin-right: 233px;
}

.policy-links a,
.copyright {
    font-size: 12px;
    color: #a4a4a4;
    text-decoration: none;
}

.policy-links:first-child a {
    margin-right: 106px;
}