:root {
  --second-family: "Poppins", sans-serif;
  --third-family: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-weight: 300;
  margin: 0;
  font-size: 16px;
  color: #020303;
  background: #fff;
  line-height: 1.3;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1326px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-top {
  background: #2f80ed;
  color: #fff;
  display: flex;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav ul li:not(:last-child) {
  margin-right: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.header-bottom {
  padding: 16px 72px 21px 72px;
  display: flex;
  align-items: baseline;
}

.line {
  border-bottom: 1px solid #2f80ed;
}

.logo {
  margin-top: auto;
  object-fit: contain;
  object-position: center;
}

.logo img {
  display: block;
}

.contact {
  margin-top: auto;
  margin-left: 66px;
}

.phone-strong {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #020303;
}

.contact p {
  margin: 0;
}

.cart {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 43px;
}

.cart-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.cart-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-badge {
  background-color: #8cc01e;
  color: #020303;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  top: -10px;
  right: -20px;
}

.price-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  color: #333;
  margin-top: 10px;
}

.breadcrumbs {
  margin-top: 43px;
  margin-bottom: 26px;
}

.breadcrumbs ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  list-style: none;
  padding-right: 10px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "/";
  color: #2f80ed;
}

.breadcrumbs a {
  text-decoration: none;
  padding-right: 5px;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  color: #2f80ed;
}

.breadcrumbs span {
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  color: #2f80ed;
}

.main {
  margin-bottom: 74px;
}

.title {
  font-family: var(--third-family);
  font-size: 24px;
  letter-spacing: 0.02em;
  margin: 0 0 31px;
}

.table-block {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.cart-tbl {
  display: table;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  border-collapse: collapse;
}

.cart-tbl-row {
  display: table-row;
}

.cart-tbl-row div {
  display: table-cell;
  padding: 23px 20px 23px 0;
  border-bottom: 1px solid #ebebeb;
}

.cart-tbl-row div:last-child {
  width: 215px;
  border-right: 1px solid #ebebeb;
  color: #2f80ed;
}

.cart-tbl-row div:nth-child(3) {
  width: 225px;
  color: #33334f;
}

.cart-tbl-row div:nth-child(2) {
  width: 190px;
}

.cart-tbl-row div:first-child {
  padding-left: 65px;
  border-left: 1px solid #ebebeb;
}

.cart-tbl-head.cart-tbl-row div {
  background: #2f80ed;
  color: #fff;
  border: none;
}

.cart-tbl span {
  display: none;
}

.sales {
  margin-bottom: 50px;
}

.sales-title {
  text-align: center;
}

.sales-cards {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card {
  display: flex;
  border-radius: 5px;
  background: #e5eff9;
  flex-basis: 636px;
}

.card img {
  display: block;
}

.card-title {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #020303;
  text-transform: uppercase;
  margin: 0;
}

.card-description {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #020303;
  margin: 6px 0;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info a {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2f80ed;
  margin-top: auto;
}

.one {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.card.one .card-info {
  padding: 61px 92px 53px 23px;
}

.card.one .card-img {
  padding: 48px 25px 48px 0;
}

.card.two .card-info {
  padding: 61px 41px 53px 43px;
}

.card.two .card-img {
  padding: 13px 25px 13px 0;
}

.popular-section {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.section-title {
  color: var(--dark, #020303);
  letter-spacing: 0.48px;
  align-self: center;
  font: 700 24px Open Sans, sans-serif;
}

.products-grid {
  margin: 31px 0 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  border-radius: 5px;
  background-color: rgba(229, 239, 249, 1);
  display: flex;
  width: calc(50% - 10px);
  padding: 8px 0 0;
  flex-direction: column;
  overflow: hidden;
}

.product-content {
  margin: 0 20px;
  display: flex;
  gap: 20px;
}

.product-image-wrapper {
  max-width: 100%;
  max-height: 100%;
}

.product-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  max-width: 130px;
}

.product-details {
  width: 75%;
  padding: 5px 0;
}

.product-name {
  font-weight: 700;
  line-height: 1;
  margin: 5px 0 5px 0;
}

.product-description {
  font-weight: 300;
  letter-spacing: 0.32px;
  margin: 0;
}

.price-info {
  display: flex;
  margin: 7px 0 0;
  gap: 10px;
}

.price-block {
  display: flex;
  gap: 5px;
}

.snack-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 138%;
  color: #020303;
}

.category-tag {
  border-radius: 5px;
  border: 2px solid #020303;
  padding: 2px 10px 5px;
  font-weight: 700;
  letter-spacing: 0.32px;
  display: inline-block;
  margin: 12px 0 0;
}

.buy-button {
  background: #2f80ed;
  color: #fff;
  padding: 12px;
  text-align: center;
  font: 700 16px Nunito, sans-serif;
  letter-spacing: 0.32px;
  margin: 7px 0 0;
  border: none;
  width: 100%;
  cursor: pointer;
}

.load-more {
  letter-spacing: 0.02em;
  align-self: center;
  margin: 51px 0 0;
  cursor: pointer;
  border: none;
  background: none;
}

.recipes {
  border-radius: 5px;
  margin-bottom: 74px;
}

.recipes-grid {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.recipe-card {
  border-radius: 5px;
  border: 1px solid #2f80ed;
  overflow: hidden;
}

.recipe-image-wrapper {
  position: relative;
}

.recipe-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 21px 25px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
}

.recipe-link {
  background-color: #2f80ed;
  color: #fff;
  text-decoration: none;
  padding: 12px 29px;
  letter-spacing: 0.32px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.footer {
  background-color: #2f80ed;
  padding: 63px 72px;
  color: #ffffff;
}

.footer-content {
  max-width: 1326px;
  margin: 0 auto;
}

.footer-columns {
  display: flex;
  gap: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column:first-child {
  width: 64%;
  margin-right: 30px;
}

.footer-column:last-child {
  width: 36%;
}

.footer-logo {
  width: 197px;
  height: auto;
  object-fit: contain;
}

.footer-description {
  margin-top: 40px;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 742px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-section {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.footer-heading {
  width: 110px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.32px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 240px;
}

.footer-list li {
  margin-bottom: 5px;
}

.footer-section p {
  margin: 0;
}
