*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  font-size: 16px;
  color: #070c11;
  background: #fff;
  line-height: 1.3;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 10px;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  margin-right: 145px;
}

.header-info {
  font-weight: 500;
  line-height: 100%;
  padding-bottom: 5px;
}

.header-info span {
  margin-right: 19px;
}

.schedule {
  color: #838688;
}

.header-btns {
  margin-left: auto;
  padding-bottom: 6px;
  padding-right: 6px;
}

.cart-link {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: url(../images/cart.png) center no-repeat;
  text-indent: 50px;
  overflow: hidden;
  vertical-align: top;
  margin-right: 11px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #2a5275;
  border-radius: 4px;
  padding: 16px 26px;
  vertical-align: top;
  border: none;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}

.navigation {
  background: #0e1821;
  margin-bottom: 40px;
}

.nav-container {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-catalog {
  background: #243c53 url(../images/catalog-icon.png) left 20px center no-repeat;
  border: none;
  width: 310px;
  height: 60px;
  font-weight: 500;
  color: #fff;
  padding-left: 61px;
  text-align: left;
  margin-right: 23px;
}

.nav-btn {
  width: 68px;
  height: 60px;
  border: none;
  background: #243c53 url(../images/menu-icon.png) center no-repeat;
  white-space: nowrap;
  text-indent: 70px;
  overflow: hidden;
  display: none;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-list li {
  display: inline-block;
  margin-right: 37px;
}

.nav-list a {
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
}

.catalog-block {
  overflow: hidden;
  transition: height 1s;
  position: absolute;
  top: 60px;
  left: 15px;
  background: #dae4ed;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-list li {
  padding: 14px 18px;
  margin: 0;
  width: 352px;
}

.catalog-list a {
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
  color: #070c11;
}

.nav-links a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #070c11;
}

.nav-links a:first-child {
  text-decoration: none;
  background: url(../images/btwnLinks.png) right no-repeat;
  padding-right: 22px;
}

.nav-links a:last-child {
  color: #838688;
  padding-left: 11px;
}

.main-title {
  margin-top: 29px;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 30px;
  flex-basis: calc(50% - 10px);
  background: #edf2f6;
  border-radius: 8px;
  display: flex;
  gap: 20px;
}

.news-photo {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
}

.news-photo img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.main-info {
  display: flex;
  flex-direction: column;
  padding-top: 3px;
}

.card-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 120%;
  color: #070c11;
  margin: 0;
}

.info {
  line-height: 120%;
  margin-top: 18px;
}

.bottom-info {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
}

.bottom-info a {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #2a5275;
  text-decoration: none;
  background: url(../images/more.png) no-repeat right bottom 4px;
  padding-right: 13px;
}

.pagenav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
  padding-left: 20px;
}

.arrow {
  text-indent: -150px;
  overflow: hidden;
  padding: 18px 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #eaeaf0;
}

.left-arrow {
  background: url(../images/goback.png) center no-repeat;
}

.right-arrow {
  background: url(../images/btwnLinks.png) center no-repeat;
}

.pagenav-btn {
  font-weight: 400;
  font-size: 16px;
  color: #838688;
  text-decoration: none;
  padding: 15px 21px;
  border-radius: 4px;
  border: 1px solid #eaeaf0;
}

.arrow:hover {
  background-color: #4878a6;
}

.isActive,
.pagenav-btn:hover {
  background-color: #4878a6;
  color: #fff;
}

.dots {
  padding: 31px 14px 0 14px;
  color: #070c11;
  border-radius: 100%;
}

.footer {
  margin-top: 80px;
  margin-bottom: 40px;
  background: #edf2f6;
  padding: 40px 0 20px 0;
}

.top-footer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #838688;
  margin-top: 0;
}

.column a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #070c11;
  margin-bottom: 5px;
}

.first-column {
  margin-right: 98px;
}

.first-column img {
  margin-bottom: 20px;
}

.first-column p {
  margin: 0 0 5px 0;
}

.first-column span:not(.schedule) {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #070c11;
  margin-bottom: 10px;
}

.at-the-bottom {
  margin-bottom: 20px;
}

.second-column {
  margin-right: 81px;
}

.third-column {
  /* margin-left: 81px; */
  margin-right: 133px;
}

.bottom-footer {
  border-top: 1px solid #c8cacb;
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.bottom-footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #838688;
}

.socials {
  margin-left: auto;
  margin-right: auto;
}

.web-dev {
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  color: #838688;
  text-decoration: none;
}