body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #283c54;
  background: #fff;
  line-height: 1.3;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding: 20px 98px 20px 98px;
  margin-bottom: 45px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
}

.main-nav {
  margin-left: auto;
}

.main-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #163152;
  text-decoration: none;
  margin: 0 15px;
}

.btn-acc {
  width: 36px;
  border: none;
  padding-bottom: 36px;
  margin-left: 41px;
  background: url(../images/account.svg) no-repeat bottom 1px center;
}

.main-block {
  background: url("../images/main-photo.jpg") center / cover no-repeat;
  position: relative;
  padding-bottom: 465px;
  margin-bottom: 74px;
}

.main-info {
  margin: 0 auto;
  height: 100%;
  align-items: center;
}

.slogan {
  top: 48px;
  left: 110px;
  max-width: 400px;
  position: absolute;
}

.slogan h1 {
  font-style: italic;
  font-weight: 500;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 21px;
}

.slogan p {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 47px;
}

.slogan a {
  font-weight: 600;
  font-size: 16px;
  line-height: 87%;
  letter-spacing: 0.04em;
  text-decoration: none;
  color: #fdfdff;
  display: inline-block;
}

.contacts {
  text-align: left;
  position: absolute;
  top: 122px;
  right: 110px;
}

.contacts h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 142%;
  color: #fff;
  margin-bottom: 18px;
}

.contacts p {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #fff;
}

.contacts span {
  font-weight: 600;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.quote-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}

.quotation {
  position: relative;
  background-color: #ededf3;
  padding: 60px 128px 60px 130px;
  margin: 20px 57px;
  border-radius: 4px;
}

.quotation::before {
  content: "";
  position: absolute;
  top: 40px;
  left: -28px;
  width: 56px;
  height: 56px;
  background: url(../images/quotation.svg) no-repeat center;
  z-index: 2;
}

.main-quotation {
  max-width: 770px;
  margin: 0 auto;
}

.text {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #283c54;
  margin-bottom: 20px;
}

.author {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #283c54;
  margin: 0;
}

.main-quotation span {
  font-weight: 600;
  color: #009a93;
}

.kaut {
  margin-top: 56px;
  margin-bottom: 89px;
  display: flex;
  gap: 20px;
  padding: 40px 0;
}

.main-content {
  margin-right: 87px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.title {
  font-weight: 600;
  font-size: 26px;
  line-height: 131%;
  color: #163152;
  margin: 0;
}

.text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #283c54;
  margin: 20px 0 0;
}

.column img {
  width: 100%;
  height: auto;
  margin: 28px 0 0;
}

.features-column {
  flex: 0 0 22%;
  margin-right: 20px;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  color: rgb(22, 49, 82);
}

.feature-icon {
  width: 60px;
  height: 60px;
}

.h3title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0 0;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #283c54;
  margin: 10px 0 0;
}

.services-column {
  flex: 0 0 25%;
}

.icon-spacing {
  margin-top: 46px;
}

.news-section {
  margin-bottom: 94px;
}

.title2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 131%;
  text-align: center;
  color: #163152;
  text-align: center;
  margin-bottom: 65px;
}

.news {
  margin-bottom: 15px;
}

.news-content {
  padding-right: clamp(10px, 2vw, 20px);
}

.news-date {
  color: var(--text-body);
  font-size: 14px;
}

.news-headline {
  font-weight: 600;
  font-size: 24px;
  color: #163152;
  margin-top: 20px;
  margin-bottom: 0;
}

.names {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
}

.names2 {
  margin-top: 8px;
}

.names p {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: #283c54;
}

.names span {
  font-weight: 400;
}

.news-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-top: 5px;
}

.news img {
  margin-left: 45px;
  height: auto;
  float: right;
}

.secondary-news img {
  float: left;
  margin-right: 45px;
}

.secondary-news {
  margin-top: 61px;
}

.news-btn {
  margin-left: 400px;
  margin-top: 80px;
  border: 2px solid #00c6bd;
  width: 300px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  color: #fdfdff;
  background: #00c6bd;
}

.footer {
  border-top: 2px solid #d9d9d9;
  text-align: center;
}

.footer p {
  margin-top: 37px;
  margin-bottom: 37px;
}
