@media screen and (max-width: 1100px) {
  .main-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 980px) {
  .phone-block {
    padding-left: 0;
  }

  .phone-block::before {
    display: none;
  }

  .cart {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .cart b,
  .cart span {
    display: none;
  }

  .nav-list li:not(:last-child) {
    margin-right: 5%;
  }

  .main-col,
  .add-col {
    width: 100%;
  }

  .main-col {
    margin-bottom: 20px;
  }

  .add-col {
    flex-direction: row;
  }

  .banner {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 900px) {
  .catalog {
    justify-content: center;
  }

  .card-img {
    width: calc((100% - 60px) / 3);
  }

  .first-text a,
  .img-wrapper {
    display: none;
  }
  .first-text p {
    width: 100%;
  }
  .pros {
    flex-direction: column;
    align-items: center;
  }

  .about-cards {
    width: 80%;
  }
}

@media screen and (max-width: 780px) {
  .logo-block {
    width: 100%;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-btn {
    display: inline-block;
  }

  .nav-list {
    display: block;
    text-align: right;
  }

  .nav-list li:not(:last-child) {
    margin-right: 0;
    padding: 6px 0;
    border-bottom: 1px dashed #ffffff80;
  }

  .nav-list li:last-child {
    padding-top: 14px;
  }

  .navigation {
    border-top: 3px solid #0a4ecb;
  }

  .nav-hidden {
    height: 0;
  }
}

@media screen and (max-width: 680px) {
  .add-col {
    flex-direction: column;
  }

  .banner {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .logo img {
    width: 220px;
    height: auto;
  }

  .cart {
    padding-left: 34px;
    padding-right: 8px;
  }
  .card-img {
    width: 140px;
    height: 200px;
  }

  .card-img::before {
    background-size: 514px 417px;
    width: 78px;
    height: 78px;
  }

  .card1::before {
    background-position: -259px -45px;
  }

  .card2::before {
    background-position: -78px -45px;
  }

  .card3::before {
    background-position: -365px -45px;
  }

  .card4::before {
    background-position: -172px -45px;
  }

  .card5::before {
    background-position: -78px -240px;
  }

  .card6::before {
    background-position: -175px -240px;
  }

  .card7::before {
    background-position: -259px -240px;
  }

  .card8::before {
    background-position: -365px -240px;
  }

  .card-img p {
    padding-bottom: 36px;
  }
}
